# Ignore build artifacts/cookies
/build
/zipped
/data
/built

# Python bytecode and caches
__pycache__/
*.py[cod]

# Local helper dumps
webview_help.txt

# PyInstaller
dist/
*.spec

# Test runner caches
.pytest_cache/
.ruff_cache/

# Log files
*.log

# Environment variables
.env/
.venv/

# MD
/QWEN.md